* {
    font-family: 'DM Sans', 'sans-serif';
}

.data-holder {
    background-color: rgb(255, 255, 255);
    padding: .8rem;
    border-radius: 1rem;
    z-index: 99;
    height: fit-content;
    width: 100%;
}

.title-n-fav {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
}

.hold-evr {
    margin-top: 3rem;
    display: flex;
    padding: 0rem;
    flex-direction: row;
    justify-content: space-between;
}

.data-progress-holder {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.btn-progress-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.progressbar-holder {
    max-width: 100%;
    min-width: 80%;
}

.holder-title-btn {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

small {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

h1 {
    font-size: clamp(16px, 4rem, 6rem);
}

.not-adm-items {
    display: flex;
    flex-direction: column;
}

.description-text {
    max-width: 20rem;
}

#createMaratona {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.comentarios-container {
    background-color: #f0f0f0;
    max-height: 300px;
    overflow-y: auto;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comentario-item {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.meu-comentario {
    background-color: #d9d9d9;
    text-align: right;
    padding: 10px;
    border-radius: 8px;
    margin-left: auto;
    max-width: 80%;
    width: fit-content;
}

.outro-comentario {
    background-color: #a9a9a9;
    text-align: left;
    padding: 10px;
    border-radius: 8px;
    margin-right: auto;
    max-width: 80%;
    width: fit-content;
    max-height: fit-content;
}

small {
    display: flex;
    align-items: center;
}

.progress {
    width: 100%;
    background-color: #000000;
    border-radius: 10rem;
    height: 2rem;
}

.progress-bar {
    transition: width 0.6s ease;
    background-color: #0066FF;
    font-weight: bold;
}

.club-data-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.div-stars {
    width: fit-content;
    font-size: 1.05rem;
    display: flex;
}

.delete-club {
    width: 90%;
    margin-left: 0.5rem;
}

.comentarioholder {
    padding: 0rem 1rem;
}

.comment-n-date {
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: fit-content;
    align-items: center;
    gap: 3rem;
}

#pdocomentario {
    margin: 0;
}

.comment-n-date.right-align {
    justify-content: flex-end;
    text-align: right;
}

.capitulo-atual {
    font-size: large;
}

#setProgress {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
}

.comentario-wrapper {
    display: flex;
    flex-direction: row;
    gap: .8rem;
}

.dropdown-item:hover {
    cursor: pointer;
}

.btn.reluzir {
    border: none;
    border-radius: 1rem;
    font-size: 1.5rem;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 500;
}

.btn.reluzir:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 0 #003b95,
        0 12px 15px rgba(0, 0, 0, 0.3);
}

.btn.reluzir::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
    transform: rotate(45deg);
    transition: all 0.5s ease;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
}

.btn.reluzir:hover::before {
    opacity: 1;
    left: 100%;
    top: 100%;
}

.btn.reluzir span {
    position: relative;
    z-index: 2;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 100%;
    width: 100%;
}

.modal-dialog {
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0066FF;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
    border-radius: inherit;
}

.overlay-text {
    color: white;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    animation: shake 0.4s infinite;
    line-height: 5rem;
}

@keyframes shake {

    0%,
    100% {
        transform: translate(0);
    }

    10% {
        transform: translate(-3px, -3px);
    }

    20% {
        transform: translate(3px, -3px);
    }

    30% {
        transform: translate(-3px, 3px);
    }

    40% {
        transform: translate(3px, 3px);
    }

    50% {
        transform: translate(-3px, 0);
    }

    60% {
        transform: translate(3px, 0);
    }

    70% {
        transform: translate(0, -3px);
    }

    80% {
        transform: translate(0, 3px);
    }
}

.data-n-topclubs {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 1rem;
}

.top-books {
    background-color: #0066FF;
    padding: 1rem;
    border-radius: 1rem;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
}

.top-books-li {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    color: white;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 0.5rem;
    scrollbar-width: none;
    -ms-overflow-style: none;
    cursor: grab;
    user-select: none;
}


.user-data::-webkit-scrollbar {
    display: none;
}

.top-books-ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    gap: 0.5rem;
    align-items: self-end;
}

#second {
    display: flex;
    flex-direction: column;
}

#first {
    display: flex;
    flex-direction: column;
}


#third {
    display: flex;
    flex-direction: column;
}

.first-place {
    height: 150px;
    background-color: #0052cd !important;
    width: 6rem;
}

.second-place {
    height: 100px;
    background-color: #003b93 !important;
    width: 6rem;
}

.third-place {
    height: 75px;
    background-color: #002d6f !important;
    width: 6rem;
}

.spree-ongoing {
    background-color: #0066FF;
    width: 100%;
}

.spree-informer {
    background-color: #0066FF;
    padding: 1rem;
    font-size: 1.5rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.data-n-topbooks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30%;
}

@media (max-width: 700px) {

    .data-n-topbooks {
        width: 100% !important;
    }

    .data-progress-holder {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .btn-progress-bar {
        width: 100%;
        align-items: center;
    }

    .hold-evr-exc-admt {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .data-holder {
        margin-top: 1rem;
        width: 100% !important;
    }

    .container {
        align-items: center;
        justify-content: center;
    }

    .hold-evr {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: fit-content;
    }

    .holder-title-btn {
        flex-direction: column;
        align-items: flex-start;
    }

    .comentarioholder,
    .capitulo-container,
    .comentarios-container,
    .data-holder {
        width: 100%;
    }
}

.small-chart-container {
    width: 250px;
    height: 200px;
    margin: 0 auto;
    display: none;
}

.no-votes-message {
    text-align: center;
    color: #888;
    font-size: 18px;
    display: none;
}

.enquete-title {
    font-size: 1.1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.enquete-title:hover {
    background-color: gray;
}

.enquete-details {
    margin-top: 10px;
}

.modal-header.bg-primary {
    background-color: #0d6efd !important;
    color: #ffffff !important;
}

.modal-title {
    font-size: 1.5rem;
}

#opcoesContainer .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-group .btn-outline-secondary {
    margin-left: 5px;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
}

body{
    padding-bottom: 1rem;
}