{% extends 'base2.html' %}
{% block content %}
{% load static %}

<style>
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: white;
  }

  .centered-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    box-sizing: border-box;
    z-index: 1;
  }

  .row {
    background: rgb(247, 247, 247);
    width: fit-content;
    max-width: 100%;
    max-height: auto;
    margin: 0;
    border-style: solid;
    border-color: grey;
    border-width: .1rem;
    border-radius: 1rem;
    padding: 3rem;
    padding-bottom: 2rem;
  }

  .login-items-holder {
    height: fit-content;
    width: fit-content;
    max-width: fit-content;
    max-height: fit-content;
  }

  .user-passwd {
    height: 3rem;
  }

  .login-btn {
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'DM Sans', 'sans-serif';
    color: white;
    background-color: #0066FF;
    cursor: pointer;
  }

  .login-btn:disabled {
    background-color: grey;
    cursor: not-allowed;
  }

  p,
  .user-passwd {
    font-family: 'DM Sans', 'sans-serif';
  }

  .not-registered {
    margin-top: 2rem;
    color: black;
  }

  .logo-image{
    padding: 2rem;
    display: flex;
    z-index: 999;
    max-width: 30rem;
    max-height: auto;
    width: 15rem;
    height: auto;
    position: absolute;
  }

  .login-drawing{
    position: relative;
    display: flex;
    margin-left: 2rem;
  }

  .vertical-line{
        display: inline-block;
        border-left: 1px solid #ccc;
        margin: 0 10px;
        height: 20rem;
        position: absolute;
        z-index: 1000;
        margin-left: 5rem;
  }

  @media screen and (max-width: 920px) {
    .login-drawing, .vertical-line{
      display: none;
    }
  }
</style>

<a href="http://localhost:8000/">
  <img src="{% static 'images/bookheadedlogo.svg' %}" class="logo-image">
</a>

<div class="container-fluid centered-container">
  <div class="row justify-content-center shadow-lg ">
    <div class="col-12 col-md-8 col-lg-6 login-items-holder">
      <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="mb-3">
          <p class="text-start text-black display-5 fw-bold login-text">Welcome back</p>
          <p class="text-start text-black fw-light user-text">Get into the perfect place for bookheads just like you.
          </p>
          <input type="text" class="form-control p-3 user-passwd" id="username" name="username" placeholder="username">
        </div>
        <div class="mb-3">
          <input type="password" class="form-control p-3 user-passwd" id="password" name="password" placeholder="password">
        </div>
        <button type="submit" class="btn btn-primary login-btn" id="loginBtn" disabled>Login</button>
        <p class="not-registered">Not registered yet? <a href="http://localhost:8000/membros/registration/"
            class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Sign Up</a></p>
      </form>
    </div>
  </div>
  <span class="vertical-line"></span>
  <img src="{% static 'images/image login.png' %}" class="login-drawing">
</div>

<script>
  const usernameInput = document.getElementById('username');
  const passwordInput = document.getElementById('password');
  const loginBtn = document.getElementById('loginBtn');

  function toggleButtonState() {
    if (usernameInput.value.trim() !== "" && passwordInput.value.trim() !== "") {
      loginBtn.disabled = false;
    } else {
      loginBtn.disabled = true;
    }
  }

  usernameInput.addEventListener('input', toggleButtonState);
  passwordInput.addEventListener('input', toggleButtonState);
</script>

{% endblock %}
