{% extends 'base2.html' %}
{% load static %}

{% block title %}
Criar conta
{% endblock title %}

{% block content %}
<style>
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background: white;
    }

    .container-div {
        background: rgb(247, 247, 247);
        width: fit-content;
        border-style: solid;
        border-color: grey;
        border-width: .1rem;
        border-radius: 1rem;
        padding: 3rem;
        justify-self: center;
    }

    .div2 {
        width: fit-content;
        color: black;
        background-color: rgb(255, 255, 255);
        border-radius: 1rem;
        padding: 1rem;
        border: .1rem;
        border-color: grey;
        border-style: solid;
    }

    h1 {
        font-family: 'DM Sans', 'sans-serif';
        margin-bottom: 2rem;
        z-index: 99;
    }

    .register-btn {
        height: 100%;
        width: fit-content;
        min-height: 100%;
        min-width: fit-content;
        border-radius: 1rem;
        font-size: 1rem;
        font-weight: bold;
        font-family: 'DM Sans', 'sans-serif';
        color: white;
        background-color: #0066FF;
        cursor: pointer;
    }

    .register-btn:hover {
        background-color: #004bbc;
    }

    .form-group {
        font-family: 'DM Sans', 'sans-serif';
    }

    .helptext {
        font-size: .8rem;
        max-height: 100%;
        max-width: 100%;
    }

    ul li {
        font-size: .8rem;
        width: fit-content;
       
        list-style: none;
        color: black;
    }

    li:before {
        content: "\2713";
    }

    label {
        font-weight: bold;
    }

    .alr-registered {
        margin-top: 2rem;
        color: black;
        font-family: 'DM Sans', 'sans-serif';
    }

    .img-logo {
        width: 15rem;
        height: auto;
       
        padding: 2rem;
        padding-left: 0rem;
    }

    .supercontainer {
        display: flex;
        flex-direction: column;
      
        justify-content: center;
        align-items: center;
        min-height: 100vh; 
    }

    .hold-title-logo {
        display: flex;
        flex-direction: column;
        
        justify-content:left;
      
        
    }

    @media screen and(max-width:650px) {
        .img-logo {
            max-width: 10rem;
            min-width: 5rem;
            max-height: auto;
            min-height: auto;
        }
    }
</style>

<div class="container d-flex min-vh-100 supercontainer">
    

    <div class="hold-title-logo">
        <a href="http://localhost:8000/">
            <img src="{% static 'images/bookheadedlogo.svg' %}" class="img-logo">
        </a>
        <div class="container shadow-lg p-4 container-div">
            <h1 class="text-left text-black display-5 fw-bold">Become a certified<br>bookhead right now</h1>
            <div class="row justify-content-left div1">
                <div class="col-md-8 div2">
                    <div class="form-group p-2">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-secondary register-btn">Create Account</button>
                        </form>
                    </div>
                </div>
            </div>
            <p class="alr-registered">Already have an account? <a href="{% url 'login' %}"
                    class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Login</a>
            </p>
        </div>
    </div>
</div>


{% endblock %}