{% extends 'base2.html' %}
{% load static %}

{% block title %}
Criar conta
{% endblock title %}

{% block content %}
<style>
    body {
        padding: 24px;
        font-family: 'DM Sans', 'sans-serif';
        margin: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 900px;
        height: 500px;
        margin: auto;
        gap: 1rem;
        border-width: .2rem;
        border-radius: 2rem;
        padding: 1rem;

    }

    .characterholder {
        background-color: #0066FF;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 50%;
        border-radius: 1rem;
        overflow: hidden;
    }

    .personagem {
        height: 80%;
        width: auto;
        max-height: 100%;
    }

    .holdallform {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 1rem;
        box-sizing: border-box;
        position: relative;
        border-style: solid;
        border-width: .05rem;
        border-right: none;
        border-top: none;
        border-bottom: none;
        border-color: rgb(177, 177, 177);
    }

    .alr-registered {
        color: black;
        font-family: 'DM Sans', 'sans-serif';
        width: 100%;
        text-align: center;
    }

    h1 {
        color: white;
        text-align: left;
        margin-left: .5rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        line-height: 0.9;
    }

    .form-group {
        width: 100%;
    }

    .register-btn {
        height: 100%;
        width: 100%;
        min-height: 100%;
        min-width: fit-content;
        border-radius: 1rem;
        font-size: 1rem;
        font-weight: bold;
        font-family: 'DM Sans', 'sans-serif';
        color: white;
        background-color: #0066FF;
        cursor: pointer;
    }

    .register-btn:hover {
        background-color: #004bbc;
    }

    .helptext {
        font-size: .8rem;
        max-height: 100%;
        max-width: 100%;
    }

    label {
        font-weight: bold;
    }


    .img-logo {
        width: 15rem;
        height: auto;
        padding: 2rem;
        padding-left: 0rem;
    }

    @media screen and (max-width: 650px) {
        .img-logo {
            max-width: 10rem;
            min-width: 5rem;
            max-height: auto;
            min-height: auto;
        }
    }

    @keyframes subtle-elastic-distort {

        0%,
        100% {
            transform: translateY(0) scale(1);
        }

        30% {
            transform: translateY(-1px) scale(1.01, 0.99);
        }

        50% {
            transform: translateY(-2px) scale(0.99, 1.01);
        }

        70% {
            transform: translateY(-1px) scale(1.01, 0.99);
        }
    }

    @keyframes elastic-transition {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.2);
        }

        100% {
            transform: scale(1);
        }
    }

    .personagem {
        margin-top: 8rem;
        z-index: 99;
        display: flex;
        position: relative;
        animation: subtle-elastic-distort 2s infinite;
    }

    #personagem-img {
        transition: transform 0.3s ease, opacity 0.3s ease;
        will-change: transform, opacity;
    }

    .morph {
        animation: elastic 0.5s ease forwards;
    }

    .certified-bkh {
        position: absolute;
        height: 5rem;
        width: auto;
        transition: height 0.3s ease, transform 0.3s ease;
    }

    .certified-bkh.dragging {
        transform: translate(-2rem, -8rem) rotate(-15deg);
        transition: transform 0.3s ease;
    }

    @keyframes elastic {
        0% {
            transform: scale(1);
            opacity: 1;
        }

        50% {
            transform: scale(1.05);
            opacity: 1;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

    @media (max-width: 767px) {

        .characterholder {
            display: none;
        }

        .container-div {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: auto;
            width: 100%;
            padding: 1rem;
            border-width: 0.1rem;
            border-radius: 1rem;
        }

        .holdallform {
            width: 100%;
            height: auto;
            padding-left: 0;
            border-style: none;
        }

        .form-group {
            padding: 1rem;
            width: 100%;
        }

        .register-btn {
            width: 100%;
            min-width: unset;
            font-size: 1.2rem;
            height: 3rem;
        }

        h1 {
            font-size: 1.5rem;
            color: #0066FF;
        }

        .alr-registered {
            margin-top: 1rem;
        }
    }
</style>

<div class="container-div shadow-lg">
    <div class="characterholder">
        <img src="{% static 'images/boneco1.svg' %}" class="personagem" id="personagem-img">
        <img src="{% static 'images/certified-bookhead.svg' %}" class="certified-bkh">
    </div>
    <div class="holdallform">
        <h1 class="text-black fw-bold">Become a certified<br>bookhead right now</h1>
        <div class="form-group p-2">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Nome de Usuário:</label>
                    <input type="text" id="username" name="username" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="password1" class="form-label">Senha:</label>
                    <input type="password" id="password1" name="password1" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="password2" class="form-label">Confirme a Senha:</label>
                    <input type="password" id="password2" name="password2" class="form-control" required>
                </div>
                <button class="btn btn-secondary register-btn" type="submit">Create Account</button>
            </form>
            <hr>
            <p class="alr-registered">Already have an account? <a href="{% url 'login' %}"
                    class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Login</a>
            </p>
        </div>
    </div>
</div>

<script>
    const usernameInput = document.getElementById('username');
    const passwordInput = document.getElementById('password1');
    const passwordConfirmInput = document.getElementById('password2');
    const personagemImg = document.getElementById('personagem-img');
    const certifiedBkhImg = document.querySelector('.certified-bkh');

    function checkInputs() {
        const isUsernameFilled = usernameInput.value;
        const isPasswordFilled = passwordInput.value;

        if (isPasswordFilled) {
            personagemImg.classList.add('morph');
            personagemImg.src = "{% static 'images/personagem2.svg' %}";
            certifiedBkhImg.classList.add('dragging');
            certifiedBkhImg.style.height = '8rem';
            certifiedBkhImg.style.transform = 'translate(-2rem, -10rem) rotate(-15deg)';
            setTimeout(() => {
                certifiedBkhImg.classList.remove('dragging');
            }, 300);
        } else {
            personagemImg.classList.remove('morph');
            personagemImg.src = "{% static 'images/boneco1.svg' %}";
            certifiedBkhImg.classList.remove('dragging');
            certifiedBkhImg.style.height = '5rem';
            certifiedBkhImg.style.transform = 'translate(0, 0) rotate(0deg)';
        }
    }

    usernameInput.addEventListener('input', checkInputs);
    passwordInput.addEventListener('input', checkInputs);
    passwordConfirmInput.addEventListener('focus', () => {
        if (passwordInput.value) {
            personagemImg.classList.add('morph');
            personagemImg.src = "{% static 'images/personagem2.svg' %}";
            certifiedBkhImg.classList.add('dragging');
            certifiedBkhImg.style.height = '8rem';
            certifiedBkhImg.style.transform = 'translate(-2rem, -8rem) rotate(-15deg)';
            setTimeout(() => {
                certifiedBkhImg.classList.remove('dragging');
            }, 300);
        }
    });

    passwordConfirmInput.addEventListener('blur', checkInputs);
</script>

{% endblock %}