{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    * {
        font-family: 'DM Sans', 'sans-serif';
    }

    .superdiv {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    .card-img-top {
        object-fit: cover;
    }

    .card-body {
        text-align: center;
    }

    .text-div{
        margin-top: 1.5rem;
        margin-left: 1.5rem;
        z-index: 2;
        font-weight: lighter;
        width: 25rem;
        max-width: 80%;
    }



    a{
        text-decoration: none;
        color: white;
    }

    .members{
        border-radius: 1.5rem;
        height: 20rem;
        display: flex;
        overflow: hidden;
        border-style: inset solid;
        border-color: black;
        border-width: .1rem;
        width: 45%;
    }

    .text-div-members{
        color: black;
        margin-top: 1.5rem;
        margin-left: 1.5rem;
        z-index: 2;
        width: 25rem;
        max-width: 80%;
        text-align: right;
        height: fit-content;
    }

    .a-wrapper{
        display: flex;
        justify-content: end;
        padding: 2rem;
        padding-top: 0rem;
    }

</style>

<div class="container mt-5 superdiv">

    <div class="row members shadow">
        <a href="{%  url 'contato' %}" class="a-wrapper">
            
            <div class="shadow-div">
                <div class="icons-members">
                    <ul class="icons-list-members">
                        <li><i class="bi bi-people-fill"></i></li>
                        <li><i class="bi bi-person-lines-fill"></i></li>
                        <li><i class="bi bi-person-fill-exclamation"></i></li>
                    </ul> 
                </div>
            </div>

            <div class="text-div-members">
                <h1 class="mb-4">Our Team</h1>
                <p class="text-break">There are few more personal things than someone's book taste.
                Thinking about this, <strong>bookheaded</strong> was developed to properly unite people by books, turning 
                the management of reading clubs easier and effective.</p>
            </div>
        </a>
    </div>

</div>

{% endblock %}