{% extends 'base.html' %}
{% load custom_filters %}
{% block title %}
    Home Page
{% endblock title %}

{% block content %}

{% load static %}

<style>
    * {
        font-family: 'DM Sans', 'sans-serif';
    }

    ul {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    }

    li {
        display: flex;
        justify-content: center;
        align-items: stretch;
    }

    .hold-evr {
        margin-top: 2rem;
        overflow: hidden;
        position: relative;
    }

    h1 {
        font-size: 4rem;
        font-weight: bold;
        margin-top: 2rem;
    }

    .search-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        width: 100%;
    }

    .search-input {
        flex: 1;
        max-width: 600px;
        padding: 10px;
        border-radius: 25px 0 0 25px;
        border: 1px solid #ced4da;
    }

    .search-btn {
        padding: 10px 20px;
        border-radius: 0 25px 25px 0;
        border: 1px solid #ced4da;
    }

    @media screen and (max-width: 650px) {
        .search-input {
            width: 80%;
        }
    }

    .cards-div {
        display: flex;
        transition: transform 0.3s ease;
        padding: 2rem;
        background-color: rgb(238, 238, 238);
        border-radius: 1rem;
        min-width: 20rem;
    }

    .card {
        width: 17rem;
        height: 19rem;
        background-color: white;
        border-radius: 1rem;
        margin-right: 1rem;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

    .titles {
        text-decoration: none;
        color: black;
        font-size: 2rem;
        font-weight: bold;
    }

    .card-text {
        font-weight: normal;
        margin: 0;
        max-width: fit-content;
    }

    .genre-stars {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-top: 0.5rem;
    }

    .date {
        margin-top: -1rem;
    }

    .description-area {
        flex-grow: 1;
        height: 8.5rem; 
        max-height: 11rem;
        background-color: rgb(235, 235, 235);
        padding: 0.3rem 0.8rem;
        border-radius: 0.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }

    .div-stars {
        width: fit-content;
        font-size: 1.1rem;
        display: flex;
    }

    .carousel-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        padding: 10px;
        z-index: 2;
    }

    #prev {
        left: 1rem;
    }

    #next {
        right: 1rem;
    }

    .carousel-item {
        height: 20rem;
    }

    .carousel-inner {
        border-radius: 2rem;
    }

    .carousel-inner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .item1{
        height: 100%;
        width: 100%;
        background-color: black;
    }

    @media screen and (max-width: 650px) {
        .carousel-inner img {
            object-fit: cover;
        }
    }
</style>

<div class="container">
    <h1>Clubs</h1>
    <br>

    <div id="carouselExampleAutoplaying" class="carousel slide img-carousel" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="item1">

                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/reading-925589_1280.jpg' %}" class="d-block w-100 photo-carousel" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/reading-925589_1280.jpg' %}" class="d-block w-100 photo-carousel" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <br>
    <hr>
    <div>
        <br>
        <div>
            <h2>Pesquise um clube:</h2>
            <div class="search-container">
                <form method="get" class="d-flex">
                    <input type="text" name="nome" class="form-control search-input" placeholder="Search Clubs" aria-label="Search Clubs" value="{{ request.GET.nome }}">
                    <button class="btn btn-outline-primary search-btn" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="hold-evr">
        <div class="cards-div" id="carousel">
            <ul style="display: flex; padding: 0; margin: 0; list-style: none;">
                {% for clube_context in clubes_context %}
                    {% with clube=clube_context.clube %}
                        <li>
                            <div class="card shadow">
                                <div class="card-body" data-bs-toggle="modal" data-bs-target="#clubeModal-{{ clube.id }}">
                                    <h5 class="card-title">
                                        <a class="titles" href="#" data-bs-toggle="modal" data-bs-target="#clubeModal-{{ clube.id }}">
                                            {{ clube.titulo }}
                                        </a>
                                    </h5>
                                    <div class="genre-stars">
                                        <h6 class="card-subtitle mb-2 text-muted">{{ clube.categoria }}<i class="bi bi-dot"></i></h6>
                                        <p class="div-stars">{% autoescape off %}{{ clube.estrelas_avaliacoes }}{% endautoescape %}</p>
                                    </div>
                                    <p class="date">
                                        <span class="badge text-bg-primary">Since {{ clube.dataDeCriacao|date:"d/m/Y" }}</span>
                                    </p>
                                    <div class="description-area">
                                        <p class="card-text text-break">{{ clube.descricao|cortar_texto:120|safe }}</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endwith %}
                {% endfor %}
            </ul>
        </div>
        <button id="prev" class="carousel-button">◀</button>
        <button id="next" class="carousel-button">▶</button>
    </div>

    {% for clube_context in clubes_context %}
        {% with clube=clube_context.clube %}
            {% include 'modal_clubs.html' %}
        {% endwith %}
    {% endfor %}
    <br><br>
</div>



<script>
    const cardWidth = 17; 
const cardGap = 1; 
const totalCards = document.querySelectorAll('.card').length;
const cardsToShow = 4; 
let currentIndex = 0;

document.getElementById('next').addEventListener('click', () => {
    currentIndex = Math.min(currentIndex + 1, totalCards - cardsToShow);
    updateCarousel();
});

document.getElementById('prev').addEventListener('click', () => {
    currentIndex = Math.max(currentIndex - 1, 0);
    updateCarousel();
});

function updateCarousel() {
    const offset = -currentIndex * (cardWidth + cardGap);
    document.getElementById('carousel').style.transform = `translateX(${offset}rem)`;
}


</script>
{% endblock %}
