{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock title %}

{% block content %}

<style>

    *{
        font-family: 'DM Sans', 'sans-serif';
    }

    ul{
        list-style: none;
        padding: 0rem;
    }

</style>

    <h1>Clubs</h1>
    <ul>
        {% for clube_context in clubes_context %}
            {% with clube=clube_context.clube %}
            <li>
                <a href="#" data-bs-toggle="modal" data-bs-target="#clubeModal-{{ clube.id }}">{{ clube.titulo }}</a> - 
                {{ clube.categoria }} -
                {{ clube.dataDeCriacao|date:"d/m/Y" }}
                {% autoescape off %}{{ clube.estrelas_avaliacoes }}{% endautoescape %}
                <p>{{ clube.descricao|slice:":100"|safe }}</p>
                {% include 'modal_clubs.html' %}
            </li>
            {% endwith %}
        {% endfor %}
    </ul>
  
{% endblock %}
