{% extends 'base.html' %}

{% load static %}

{% block title %}
Detail {{ clube.titulo }}
{% endblock title %}

{% block content %}

<style>
    * {
        font-family: 'DM Sans', 'sans-serif';
    }

    .data-holder {
        background-color: rgb(255, 255, 255);
        width: fit-content;
        padding: .8rem;
        border-radius: 1rem;
        z-index: 99;
        max-width: fit-content;
        height: fit-content;
    }

    .hold-evr {
        margin-top: 3rem;
        display: flex;
        padding: 0rem;
        flex-direction: row;
        justify-content: space-between;
    }

    .data-progress-holder {
        display: flex;
        flex-direction: column;
        width: 65%;
    }

    .progressbar-holder {
        width: 80%;
        max-width: 100%;
        min-width: 80%;
    }

    .holder-title-btn {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: center;
    }

    small {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    h1 {
        font-size: clamp(16px, 4rem, 6rem);
    }

    .not-adm-items {
        display: flex;
        flex-direction: column;
    }

    .description-text {
        max-width: 20rem;
    }

    .comentarios-container {
        background-color: #f0f0f0;
        max-height: 300px;
        overflow-y: auto;
        padding: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .comentario-item {
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }

    .meu-comentario {
        background-color: #d9d9d9;
        text-align: right;
        padding: 10px;
        border-radius: 8px;
        margin-left: auto;
        max-width: 80%;
        width: fit-content;
    }

    .outro-comentario {
        background-color: #a9a9a9;
        text-align: left;
        padding: 10px;
        border-radius: 8px;
        margin-right: auto;
        max-width: 80%;
        width: fit-content;
        max-height: fit-content;
    }

    small {
        display: flex;
        align-items: center;
    }
    .progress {
        width: 100%; 
        background-color: #000000; 
        border-radius: 10rem;
        height: 2rem;
    }
    
    .progress-bar {
        transition: width 0.6s ease;
        background-color: #0066FF;
        font-weight: bold;
    }

    .club-data-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .div-stars {
        width: fit-content;
        font-size: 1.05rem;
        display: flex;
    }

    .delete-club{
        width: 90%;
        margin-left: 0.5rem;
    }

    .comment-n-date{
        display: flex;
        flex-direction: row;
        justify-content: left;
        height: fit-content;
        align-items: center;
        gap: 3rem;
    }

    #pdocomentario{
        margin: 0;
    }

    .comment-n-date.right-align {
        justify-content: flex-end;
        text-align: right;
    }

    .capitulo-atual{
        background-color: #0066FF;
    }

    @media (max-width: 700px) {
        .data-progress-holder {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        .btn-progress-bar{
            width: 100%;
            justify-content: center;
            align-items: center;
            display: flex;
        }

        .hold-evr-exc-admt {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .data-holder {
            margin-top: 1rem;
            width: 100%;
        }

        .container {
            align-items: center;
            justify-content: center;
        }

        .hold-evr {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .holder-title-btn {
            flex-direction: column;
            align-items: flex-start;
        }

        .comentarioholder, .capitulo-container, .comentarios-container, .data-holder {
            width: 100%;
        }
    }

    .comentario-wrapper{
        display: flex;
        flex-direction: row;
        gap: .8rem;
    }

    .dropdown-item:hover{
        cursor: pointer;
    }

.btn.reluzir {
    border: none;
    border-radius: 1rem;
    font-size: 1.5rem;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 500;
}

.btn.reluzir:hover {

    transform: translateY(-3px);
    box-shadow: 0 6px 0 #003b95,
    0 12px 15px rgba(0, 0, 0, 0.3);
}

.btn.reluzir::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
    transform: rotate(45deg);
    transition: all 0.5s ease;
    z-index: 1;
    opacity: 0;
    pointer-events: none; 
}

.btn.reluzir:hover::before {
    opacity: 1;
    left: 100%;
    top: 100%;
}

.btn.reluzir span {
    position: relative;
    z-index: 2;
}

</style>


<div class="container">
    <div class="hold-evr">
        <div class="data-progress-holder">
            <h1>{{ clube.titulo }}</h1>
            <div class="btn-progress-bar">
                <div class="my-3 progressbar-holder">
                    <div class="progress">
                        <div id="progressBar" class="progress-bar" role="progressbar"
                             style="width: {{ progresso_percentual }}%;"
                             aria-valuenow="{{ progresso_percentual }}" aria-valuemin="0" aria-valuemax="100">
                             {{ progresso_percentual }}%
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="capitulo-container" style="background-color: #e0e0e0; padding: 10px; border-top-left-radius: 8px; border-top-right-radius: 8px; margin-top: 1rem;">
                <div class="my-3 d-flex justify-content-between align-items-center">
                    {% if clube.maratona_ativa %}
                        <span class="capitulo-atual">Capítulo atual: <span id="capituloAtualSpan">Em maratona</span></span>
                    {% else %}
                        <span class="capitulo-atual">Capítulo atual: <span id="capituloAtualSpan">{{ clube.progresso_atual }}</span></span>
                    {% endif %}
                    
                    {% if user.is_authenticated and user == clube.moderador %}
                    <button id="createMaratona" data-clube-id="{{ clube.id }}" class="btn btn-primary btn-sm reluzir" data-bs-toggle="modal" data-bs-target="#maratonaModal">Start Spree</button>
                        <button id="setProgress" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#progressModal">Mark Progress</button>
                    {% endif %}
                </div>
            </div>
            
            <div class="comentarios-container" id="comentariosContainer">
                {% if not clube.comentarios.all %}
                    No chat was started yet...
                {% else %}
                    {% for comentario in clube.comentarios.all|slice:"-8:" %}
                    <div class="comentario-wrapper">
                        {% if comentario.user == user %}
                            <div class="comentario-item meu-comentario">
                                <div class="comentario-conteudo">
                                    <strong>{{ comentario.user.username }}</strong>  
                                    <div class="comment-n-date right-align">
                                        <p id="pdocomentario" class="datap">{{ comentario.data|date:"d/m" }} at {{ comentario.data|date:"H:i" }}</p>
                                        <p id="pdocomentario">{{ comentario.comentario }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="comentario-foto foto-direita">
                                <a href="{% url 'profile' user.id %}">
                                    <img src="{% if user.profile.icone %}{% static user.profile.icone %}{% else %}{% static 'images/icon3.svg' %}{% endif %}" alt="foto de usuário" width="40rem">
                                </a>
                            </div>
                        {% else %}
                            <div class="comentario-foto foto-esquerda">
                                <a href="{% url 'profile' comentario.user.id %}">
                                    <img src="{% if comentario.user.profile.icone %}{% static comentario.user.profile.icone %}{% else %}{% static 'images/icon3.svg' %}{% endif %}" alt="foto de usuário" width="40rem">
                                </a>
                            </div>
                            <div class="comentario-item outro-comentario">
                                <div class="comentario-conteudo">
                                    <strong>{{ comentario.user.username }}</strong>  
                                    <div class="comment-n-date">
                                        <p id="pdocomentario">{{ comentario.comentario }}</p>
                                        <p id="pdocomentario" class="datap">{{ comentario.data|date:"d/m" }} at {{ comentario.data|date:"H:i" }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
            
            <div class="comentarioholder" style="background-color: #e0e0e0; padding: 4ypx; border-bottom-left-radius: 8px;border-bottom-right-radius: 8px;">
                <form action="{% url 'add_comentario' clube.pk %}" method="POST" class="my-4 d-flex align-items-center">
                    {% csrf_token %}
                    <input type="hidden" name="clube_id" value="{{ clube.pk }}">
                    <textarea name="comentario" id="comentario" required class="form-control me-2" rows="1"
                        style="height: 38px;"></textarea>
                    <button type="submit" class="btn btn-primary btn-sm" style="height: 38px;">Comentar</button>
                </form>
            </div>         
        </div>

        
        <div class="modal fade" id="topLivrosModal-{{ clube.id }}" tabindex="-1" aria-labelledby="topLivrosLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="topLivrosLabel">Favoritos do Clube:</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="topLivrosContent-{{ clube.id }}">
                            <p>Carregando os livros...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        
        <div class="modal fade" id="addTopLivrosModal-{{ clube.id }}" tabindex="-1" aria-labelledby="addTopLivrosModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addTopLivrosModalLabel">Editar Favoritos do Clube</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post" action="{% url 'add_top_livros' clube.id %}">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="topLivros" class="form-label">Adicione os Livros (separe por linha)</label>
                                <textarea class="form-control" id="topLivros" name="top_livros" rows="3" required>{{ clube.top_livros }}</textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="updateModal-{{ clube.id }}" tabindex="-1" aria-labelledby="updateModalLabel-{{ clube.id }}" aria-hidden="true" data-modalidade-id="{{ clube.modalidade.id }}" data-categoria-id="{{ clube.categoria.id }}">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% if user.is_authenticated and user.id == clube.moderador.id %}
                        <div class="container">
                            <div class="holder">
                                <h1 class="text-center">Editar Detalhes do Clube</h1>
                                <div class="row justify-content-center">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <form method="post" action="{% url 'updateClube' clube.pk %}">
                                                {% csrf_token %}
                                                <label for="titulo">Título:</label>
                                                <input type="text" id="titulo" name="titulo" value="{{ clube.titulo }}" class="form-control" required>

                                                <label for="modalidade">Modalidade:</label>
                                                <select id="modalidade" name="modalidade" class="form-control">
                                                    <option value="">Selecione uma modalidade</option>
                                                    {% for modalidade in modalidades %}
                                                        <option value="{{ modalidade.id }}" {% if clube.modalidade and clube.modalidade.id == modalidade.id %}selected{% endif %}>
                                                            {{ modalidade.nome }}
                                                        </option>
                                                    {% endfor %}
                                                </select>

                                                <label for="categoria">Categoria:</label>
                                                <select id="categoria" name="categoria" class="form-control">
                                                    <option value="">Selecione uma categoria</option>
                                                    {% for categoria in categorias %}
                                                        <option value="{{ categoria.id }}" {% if clube.categoria and clube.categoria.id == categoria.id %}selected{% endif %}>
                                                            {{ categoria.nome }}
                                                        </option>
                                                    {% endfor %}
                                                </select>

                                                <label for="descricao">Descrição:</label>
                                                <textarea id="descricao" name="descricao" class="form-control" required>{{ clube.descricao }}</textarea>

                                                <label for="privado">Privado:</label>
                                                <input type="checkbox" id="privado" name="privado" {% if clube.privado %}checked{% endif %}>

                                                <div class="modal-footer">
                                                    <button class="btn btn-primary btn-sm" type="submit">Atualizar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        {% include 'modal_delete.html' %}
        {% include 'modal_avaliar.html' %}
        {% include 'pedidos.html' %}
        {% include 'modal_SairDoClube.html' %}
        <div class="data-holder shadow"> 
            <div class="club-data-icons">
                <h3><strong>Club Data</strong></h3>
                {% if user.is_authenticated %}
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#topLivrosModal-{{ clube.id }}">
                        <i class="bi bi-journal-bookmark-fill"></i>
                    </button>
                    <button id="favoritar-btn-{{ clube.id }}" class="btn btn-primary" data-clube-id="{{ clube.id }}">
                        {% if user in clube.favoritos.all %}
                        <i class="bi bi-star-fill"></i>
                        {% else %}
                        <i class="bi bi-star"></i>
                        {% endif %}
                    </button>
                    {% if user == clube.moderador %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary engine" data-bs-toggle="dropdown"><i class="bi bi-gear-wide-connected"></i></button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#updateModal-{{ clube.id }}">Edit Club</a></li>
                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#addTopLivrosModal-{{ clube.id }}">Editar Favoritos</a></li>
                                {% if clube.privado %}
                                    <li><a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#pedidosModal">Requests</a></li>
                                {% endif %}
                            <li><hr class="dropdown-divider"></li>
                            <li><a href="#" class="btn btn-danger delete-club" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ clube.id }}">Delete Club</a></li>
                        </ul>
                      </div>
                    {% endif %}
                {% endif %}
            </div> 

            <hr>
            <p class="text-break description-text"><strong>Description: </strong>{{ clube.descricao|safe }}</p>
            <p><strong>Foundation:  </strong>{{ clube.dataDeCriacao|date:"d/m/Y" }}</p>
            <p><strong>Genre:</strong> {{ clube.categoria.nome }}</p>
            <p><strong>Modality:</strong> {{ clube.modalidade.nome }}</p>
            <p><strong>Club Privacy:</strong> {% if clube.privado %}Private{% else %}Public{% endif %}</p>
            <p><strong>Members:</strong> {{ clube.contar_membros }}</p>
            <p class="div-stars"><strong>Rating:&nbsp;</strong>{% autoescape off %}{{ clube.estrelas_avaliacoes }}{% endautoescape %}</p>
            <p>
                <strong>Total Marathons:</strong> {{ total_maratona_finalizadas }} 
                <i class="bi bi-eye-fill" id="listarHistorico" data-clube-id="{{ clube.id }}" style="cursor: pointer;"></i>
            </p>
            <hr>
            {% if user != clube.moderador %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#avaliarModal-{{ clube.id }}">
                Avaliar Clube
            </button>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#sairDoClubeModal-{{ clube.id }}">
                Sair do Clube
            </button>
            {% endif %}
        </div>
    </div>

    <div class="modal fade" id="progressModal" tabindex="-1" aria-labelledby="progressModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="progressModalLabel">Definir Progresso</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="progressForm">
                        <div class="mb-3">
                            <label for="currentPage" class="form-label">Capítulo Atual</label>
                            <input type="number" class="form-control" id="currentcapitulo" value="{{ clube.progresso_atual }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="totalPages" class="form-label">Total de Capítulos</label>
                            <input type="number" class="form-control" id="totalcapitulo" value="{{ clube.total_capitulos }}" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="saveProgress">Salvar Progresso</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="maratonaModal" tabindex="-1" aria-labelledby="maratonaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="maratonaModalLabel">Criar Maratona</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="maratonaForm">
                        <div class="mb-3">
                            <label for="nomeMaratona" class="form-label">Nome da Maratona</label>
                            <input type="text" class="form-control" id="nomeMaratona" required>
                        </div>
                        <div class="mb-3">
                            <label for="dataInicio" class="form-label">Data de Início</label>
                            <input type="date" class="form-control" id="dataInicio" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="dataFim" class="form-label">Data de Término</label>
                            <input type="date" class="form-control" id="dataFim" required>
                        </div>
                        <div class="mb-3">
                            <label for="capituloAtual" class="form-label">Capítulo Atual</label>
                            <input type="number" class="form-control" id="capituloAtual" value="{{ clube.progresso_atual }}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="capituloFinal" class="form-label">Capítulo Final da Maratona</label>
                            <input type="number" class="form-control" id="capituloFinal" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="finalizarMaratona">Finalizar Maratona</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="saveMaratona">Salvar Maratona</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="historicoMaratonasModal" tabindex="-1" aria-labelledby="historicoMaratonasModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="historicoMaratonasModalLabel">Histórico de Maratonas</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col" style="width: 25%;">Nome da Maratona</th>
                                    <th scope="col" class="text-nowrap" style="width: 15%;">Data de Início</th>
                                    <th scope="col" class="text-nowrap" style="width: 15%;">Data de Término</th>
                                    <th scope="col">Duração</th>
                                    <th scope="col">Capítulo Inicial</th>
                                    <th scope="col">Capítulo Final</th>
                                    <th scope="col">Capítulos Lidos</th>
                                </tr>
                            </thead>
                            <tbody id="historicoBody">
                                <!-- Os dados serão inseridos aqui via JavaScript -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    
    
    
</div>
<script>

document.getElementById('saveProgress').addEventListener('click', function () {
        const currentCapitulo = parseInt(document.getElementById('currentcapitulo').value);
        const totalCapitulos = parseInt(document.getElementById('totalcapitulo').value);
    
        if (currentCapitulo > 0 && totalCapitulos > 0) {
            if (currentCapitulo > totalCapitulos) {
                alert('O capítulo atual não pode ser maior que o total de capítulos.');
            } else {
                fetch(`{% url 'atualizar_progresso' clube.pk %}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        current_capitulo: currentCapitulo,
                        total_capitulos: totalCapitulos
                    })
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data); 
                    if (data.success) {
                        const progressPercent = (currentCapitulo / totalCapitulos) * 100;
                        document.getElementById('progressBar').style.width = progressPercent + '%';
                        document.getElementById('progressBar').setAttribute('aria-valuenow', progressPercent);
                        document.getElementById('progressBar').innerText = Math.round(progressPercent) + '%';
    
                        document.getElementById('capituloAtualSpan').innerText = currentCapitulo;
    
                        $('#progressModal').modal('hide');
                    } else {
                        alert('Erro ao salvar progresso.');
                    }
                });
            }
        } else {
            alert('Por favor, insira valores positivos para os capítulos.');
        }
    });

    document.getElementById('saveProgress').addEventListener('click', function () {
    const currentCapitulo = parseInt(document.getElementById('currentcapitulo').value);
    const totalCapitulos = parseInt(document.getElementById('totalcapitulo').value);

    if (currentCapitulo > 0 && totalCapitulos > 0) {
        if (currentCapitulo > totalCapitulos) {
            alert('O capítulo atual não pode ser maior que o total de capítulos.');
        } else {
            fetch(`{% url 'atualizar_progresso' clube.pk %}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    current_capitulo: currentCapitulo,
                    total_capitulos: totalCapitulos
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if (data.success) {
                    const progressPercent = (currentCapitulo / totalCapitulos) * 100;
                    const progressBar = document.getElementById('progressBar');
                    
                    progressBar.style.width = progressPercent + '%';
                    progressBar.setAttribute('aria-valuenow', progressPercent);
                    progressBar.innerText = Math.round(progressPercent) + '%';

                    document.getElementById('capituloAtualSpan').innerText = currentCapitulo;

                    if (progressPercent === 100) {
                        progressBar.classList.add('progress-bar-green');
                    } else {
                        progressBar.classList.remove('progress-bar-green');
                        progressBar.style.backgroundColor = '#4169E1';
                    }

                    $('#progressModal').modal('hide');
                } else {
                    alert('Erro ao salvar progresso.');
                }
            });
        }
    } else {
        alert('Por favor, insira valores positivos para os capítulos.');
    }
});

document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('[id^="favoritar-btn-"]').forEach(function (btn) {
        btn.addEventListener('click', function () {
            var clubeId = this.getAttribute('data-clube-id');
            var url = `/clube/favoritar/${clubeId}/`;
            var buttonElement = this;

            fetch(url, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json',
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.favoritado) {
                    buttonElement.innerHTML = '<i class="bi bi-star-fill"></i>';
                    moveClube(clubeId, true);
                } else {
                    buttonElement.innerHTML = '<i class="bi bi-star"></i>';
                    moveClube(clubeId, false);
                }
            });
        });
    });
});

document.querySelectorAll('[id^="topLivrosModal-"]').forEach(function (modal) {
    modal.addEventListener('show.bs.modal', function (event) {
        const clubeId = event.target.getAttribute('id').split('-')[1];
        const modalContent = document.getElementById(`topLivrosContent-${clubeId}`);
        
        fetch(`/clube/${clubeId}/top-livros/`)
            .then(response => response.text())
            .then(html => {
                modalContent.innerHTML = html;
            })
            .catch(err => {
                modalContent.innerHTML = '<p>Erro ao carregar os top livros.</p>';
            });
    });
});

document.addEventListener('DOMContentLoaded', function () {
document.querySelectorAll('[id^="updateModal-"]').forEach(function (modal) {
    modal.addEventListener('show.bs.modal', function (event) {
        const clubeId = event.target.getAttribute('id').split('-')[1];
        const modalidadeSelect = modal.querySelector('#modalidade');
        const categoriaSelect = modal.querySelector('#categoria');

        fetch('/api/modalidades/')
            .then(response => response.json())
            .then(modalidades => {
                modalidadeSelect.innerHTML = '<option value="">Selecione uma modalidade</option>';
                modalidades.forEach(modalidade => {
                    const option = document.createElement('option');
                    option.value = modalidade.id;
                    option.textContent = modalidade.nome;
                    
                    if (modalidade.id == modal.getAttribute('data-modalidade-id')) {
                        option.selected = true;
                    }
                    modalidadeSelect.appendChild(option);
                });
            })
            .catch(err => console.error('Erro ao carregar modalidades:', err));

        fetch('/api/categorias/')
            .then(response => response.json())
            .then(categorias => {
                categoriaSelect.innerHTML = '<option value="">Selecione uma categoria</option>';
                categorias.forEach(categoria => {
                    const option = document.createElement('option');
                    option.value = categoria.id;
                    option.textContent = categoria.nome;
                    
                    if (categoria.id == modal.getAttribute('data-categoria-id')) {
                        option.selected = true;
                    }
                    categoriaSelect.appendChild(option);
                });
            })
            .catch(err => console.error('Erro ao carregar categorias:', err));
    });
});
});

// Adiciona o JS da maratona daqui pra baixo, viu Mateus. 3 horas só pra descobrir que era só colocar meu código na parte de cima. A vida não é um morango. PS: Carlos
//Ps de novo: Porrrrraa.

document.getElementById('listarHistorico').addEventListener('click', function() {
    const clubeId = this.getAttribute('data-clube-id');
    listarHistorico(clubeId);
});

function listarHistorico(clubeId) {
    fetch(`/clube/${clubeId}/listar_historico_maratona/`)
        .then(response => {
            if (!response.ok) {
                throw new Error(`Erro: ${response.statusText}`);
            }
            return response.json();
        })
        .then(data => {
            const historicoBody = document.getElementById('historicoBody');
            historicoBody.innerHTML = '';

            if (data.success) {
                if (data.historico.length === 0) {
                    historicoBody.innerHTML = '<tr><td colspan="5">Nenhum histórico encontrado.</td></tr>';
                } else {
                    data.historico.forEach(historico => {
                        const diasDuracao = calcularDuracao(historico.data_inicio, historico.data_fim);
                        const totalCapitulos = calcularTotalCapitulos(historico.capitulo_final, historico.capitulo_atual);
                        const row = document.createElement('tr');
                        row.innerHTML = `
                            <td>${historico.nome_maratona}</td>
                            <td>${historico.data_inicio}</td>
                            <td>${historico.data_fim}</td>
                            <td>${diasDuracao} dias</td>
                            <td>${historico.capitulo_atual}</td>
                            <td>${historico.capitulo_final}</td>
                            <td>${totalCapitulos}</td>
                        `;
                        historicoBody.appendChild(row);
                    });
                }

                const modal = new bootstrap.Modal(document.getElementById('historicoMaratonasModal'));
                modal.show();
            } else {
                historicoBody.innerHTML = '<tr><td colspan="5">Nenhum histórico encontrado.</td></tr>';
            }
        })
        .catch(error => {
            console.error('Erro na requisição:', error);
        });
}


    document.getElementById('finalizarMaratona').addEventListener('click', function() {
    const createButton = document.getElementById('createMaratona');
    const clubeId = createButton.getAttribute('data-clube-id');

    fetch(`/clube/${clubeId}/finalizar_maratona/`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken'),
        },
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            alert('Maratona finalizada com sucesso!');
            location.reload(true);
        } else {
            alert('Erro ao finalizar maratona.');
            console.error('Erro:', data);
        }
    })
    .catch(error => {
        console.error('Erro na requisição:', error);
    });
    location.reload(true);
});

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function carregarDadosMaratona(clubeId) {
    fetch(`/clube/${clubeId}/detalhes_maratona/`)
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                if (data.maratona_ativa) {
                    document.getElementById('nomeMaratona').value = data.nome_maratona;
                    document.getElementById('dataFim').value = data.data_fim;
                    document.getElementById('capituloFinal').value = data.capitulo_final;
                    document.getElementById('finalizarMaratona').style.display = 'block';
                } else {
                    document.getElementById('nomeMaratona').value = '';
                    document.getElementById('dataFim').value = '';
                    document.getElementById('capituloFinal').value = '';
                    document.getElementById('finalizarMaratona').style.display = 'none';
                }
            } else {
                alert('Erro ao carregar dados da maratona.');
                console.error('Erro:', data);
            }
        })
        .catch(error => {
            console.error('Erro na requisição:', error);
        });
}


document.getElementById('saveMaratona').addEventListener('click', function() {
    const createButton = document.getElementById('createMaratona');
    const clubeId = createButton.getAttribute('data-clube-id');
    
    const nomeMaratona = document.getElementById('nomeMaratona').value;
    const dataFim = document.getElementById('dataFim').value;
    const dataInicio = document.getElementById('dataInicio').value;
    const capituloFinal = parseInt(document.getElementById('capituloFinal').value, 10);
    const capituloAtual = parseInt(document.getElementById('capituloAtual').value, 10);

    // Verificação da data
    if (new Date(dataFim) < new Date(dataInicio)) {
        alert('A data final não pode ser menor que a data inicial.');
        return;
    }

    // Verificação dos capítulos
    if (capituloFinal < capituloAtual) {
        alert('O capítulo final não pode ser menor que o capítulo atual.');
        return;
    }

    // Verificar se o nome da maratona já existe
    verificarNomeMaratonaExistente(nomeMaratona, clubeId)
        .then(nomeExistente => {
            if (nomeExistente) {
                alert('Já existe uma maratona com este nome. Por favor, escolha um nome diferente.');
                return;
            }

            // Se todas as validações passaram, criar a maratona
            fetch(`/clube/${clubeId}/criar_maratona/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken'),
                },
                body: JSON.stringify({
                    nome_maratona: nomeMaratona,
                    data_fim: dataFim,
                    data_inicio: dataInicio,
                    capitulo_final: capituloFinal,
                    capitulo_atual: capituloAtual,
                }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    carregarDadosMaratona(clubeId); 
                    location.reload(true);
                } else {
                    alert('Erro ao salvar maratona: ' + data.message);
                    console.error('Erro:', data);
                }
            })
            .catch(error => {
                console.error('Erro na requisição:', error);
            });
        });
});

function verificarNomeMaratonaExistente(nomeMaratona, clubeId) {
    return fetch(`/clube/${clubeId}/listar_historico_maratona/`)
        .then(response => {
            if (!response.ok) {
                throw new Error(`Erro: ${response.statusText}`);
            }
            return response.json();
        })
        .then(data => {
            if (data.success) {
                return data.historico.some(historico => historico.nome_maratona === nomeMaratona);
            } else {
                throw new Error('Erro ao carregar histórico.');
            }
        })
        .catch(error => {
            console.error('Erro na verificação do nome da maratona:', error);
            return false; // Retorna false se ocorrer um erro
        });
}


function calcularDuracao(dataInicio, dataFim) {
    const inicio = new Date(dataInicio);
    const fim = new Date(dataFim);
    const duracao = Math.abs(fim - inicio);
    const dias = Math.ceil(duracao / (1000 * 60 * 60 * 24));
    return dias;
}

function calcularTotalCapitulos(capituloFinal, capituloAtual) {
    return capituloFinal - capituloAtual;
}

document.getElementById('createMaratona').addEventListener('click', function(event) {
    const createButton = event.currentTarget;
    const clubeId = createButton.getAttribute('data-clube-id');

    if (!clubeId) {
        console.error('Clube ID não encontrado.');
        return;
    }

    carregarDadosMaratona(clubeId); 
});


window.onload = function() {
    const createButton = document.getElementById('createMaratona');
    const clubeId = createButton.getAttribute('data-clube-id');
    if (clubeId) {
        carregarDadosMaratona(clubeId);
    }
};



    document.addEventListener('DOMContentLoaded', function() {
                const today = new Date().toISOString().split('T')[0];
                document.getElementById('dataInicio').value = today;
            });
    

</script>
{% endblock %}
