{% extends 'base.html' %}

{% load static %}
{% load custom_filters %}

{% block content %}
<style>
    .users-ul{
        list-style: none;
        margin-top: 2rem;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        width: 30%;
    }

    .users-li{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding: 0.5rem;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        border-radius: 3rem;
        align-items: center;
    }

    .pfp-holder{
        height: fit-content;
    }

    .pfp{
        height: 3rem;
    }

    .bio{
        background-color: rgb(224, 224, 224);
        margin: 0;
        padding: 0.2rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        width: fit-content;
        border-radius: 2rem;
    }

    .user-n-bio{
        display: flex;
        flex-direction: column;
        justify-content: left;
        gap: 0.5rem;
        margin: 0;
    }

    .username{
        text-decoration: none;
        font-weight: 500 ;
    }
</style>

<div class="container my-5">
    <h1>Search results for: {{ nomes }}</h1>

    <ul class="users-ul">
        {% if usuarios %}
            {% for usuario in usuarios %}
                <li class="users-li">
                    <a class="pfp-holder" href="{% url 'profile' usuario.id %}">
                        <img class="pfp" src="{% if usuario.profile.icone %}{% static usuario.profile.icone %}{% else %}{% static 'images/icon3.svg' %}{% endif %}">
                    </a>
                    <span class="user-n-bio">
                        <a class="username" href="{% url 'profile' usuario.id %}">{{ usuario.username }}</a>
                        {% if usuario.profile.bio %}
                            <p class="bio">{{ usuario.profile.bio }}</p>
                        {% else %}
                            <p class="bio">Ola!, sou um novo Bookheaded</p>
                        {% endif %}
                    </span>
                </li>
                <hr>
            {% endfor %}
        {% else %}
            <p>Nenhum usuário encontrado.</p>
        {% endif %}
    </ul>

    
    {% if last_searches %}
    <h2>Últimas pesquisas:</h2>
    <ul>
        {% for search in last_searches %}
            {% with user=user_links|get_item:search %}
                <li class="users-li">
                    {% if user %}
                        <a class="pfp-holder" href="{% url 'profile' user.id %}">
                            <img class="pfp" src="{% if user.profile.icone %}{% static user.profile.icone %}{% else %}{% static 'images/icon3.svg' %}{% endif %}">
                        </a>
                        <span class="user-n-bio">
                            <a class="username" href="{% url 'profile' user.id %}">{{ search }}</a>
                            
                        </span>
                    {% else %}
                        <span>{{ search }}</span>
                    {% endif %}
                </li>
            {% endwith %}
        {% endfor %}
    </ul>
{% endif %}



</div>
{% endblock %}
