{% extends 'base.html' %}
{% block content %}


<br/><br/>
<br/><br/>
<br/><br/>

<div class="container"> 
    <div class="row">
        <center>
            <div class="col-8">
                <br/></br/>
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                      
                      <input type="text" class="form-control" name="username" placeholder="Enter your username">
                      
                    </div>
                    <div class="mb-3">
                      
                      <input type="password" class="form-control" name="password" placeholder="Enter your password" >
                    </div>
                    <br/><br/>
                    
                    <button type="submit" class="btn btn-secondary">Login</button>
                  </form>
                

<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
<br/><br/>
                
               </div>
            </center> 
      </div>      
</div>           
   
{% endblock %}