<style>
    .div-stars-modal {
        width: fit-content;
        font-size: 1.1rem;
        display: flex;
    }
</style>

<div class="modal fade" id="clubeModal-{{ clube.id }}" tabindex="-1"
     aria-labelledby="clubeModalLabel-{{ clube.id }}" aria-hidden="true" style="color: var(--bs-body-color);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clubeModalLabel-{{ clube.id }}">{{ clube.titulo }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="div-stars-modal"><strong>Rating:&nbsp;&nbsp;</strong> {% autoescape off %}{{ clube.estrelas_avaliacoes }}{% endautoescape %}</p>
                <p><strong>Genre:</strong> {{ clube.categoria.nome }}</p>
                <p><strong>Modality:</strong> {{ clube.modalidade.nome }}</p>
                <p><strong>Admin:</strong> {{ clube.moderador }}</p>
                <p><strong>Club Privacy:</strong> {% if clube.privado %}Private{% else %}Public{% endif %}</p>
                <p><strong>Members:</strong> {{ clube.contar_membros }}</p>
                <p><strong>Foundation:</strong> {{ clube.dataDeCriacao|date:"d/m/Y" }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="{% url 'club-Detail' clube.pk %}" class="btn btn-primary" name="entrar-btn">Enter</a>
            </div>
        </div>
    </div>
</div>
