<style>
    .div-stars-modal {
        width: fit-content;
        font-size: 1.1rem;
        display: flex;
    }

    .modal-body p {
        margin-bottom: 0.75rem;
        font-size: 1rem;
    }

    .modal-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>

<div class="modal fade" id="clubeModal-{{ clube.id }}" tabindex="-1" aria-labelledby="clubeModalLabel-{{ clube.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clubeModalLabel-{{ clube.id }}">{{ clube.titulo }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" name="fechar"></button>
            </div>
            <div class="modal-body">
                <p class="div-stars-modal"><strong>Rating:&nbsp;&nbsp;</strong> {% autoescape off %}{{ clube.estrelas_avaliacoes }}{% endautoescape %}</p>
                <p><strong>Genre:</strong> {{ clube.categoria.nome }}</p>
                <p><strong>Modality:</strong> {{ clube.modalidade.nome }}</p>
                <p><strong>Admin:</strong> {{ clube.moderador }}</p>
                <p><strong>Club Privacy:</strong> {% if clube.privado %}Private{% else %}Public{% endif %}</p>
                <p><strong>Members:</strong> {{ clube.contar_membros }}</p>
                <p><strong>Data de Criação:</strong> {{ clube.dataDeCriacao|date:"d/m/Y" }}</p>
            </div>
            <hr class="w-100">
            <div class="d-flex justify-content-center align-items-center mt-3">
                {% if user.is_authenticated %}
                    {% if user != clube.moderador %}
                        {% if clube.privado %}
                            {% if not clube_context.user_is_member %}
                                {% if clube_context.user_request_pending %}
                                    <p class="btn btn-warning text-white text-center">Solicitação Pendente</p>
                                {% else %}
                                    <form method="post" action="{% url 'adicionar-membro' clube.pk %}" class="d-flex justify-content-center my-3">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success text-white py-2 text-center" name="solicitar">Solicitar Associação</button>
                                    </form>
                                {% endif %}
                            {% else %}
                                <p class="btn btn-success text-white text-center">Você é membro deste clube</p>
                            {% endif %}
                        {% else %}
                            {% if not clube_context.user_is_member %}
                                <form method="post" action="{% url 'adicionar-membro-publico' clube.pk %}" class="d-flex justify-content-center my-3">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-success text-white py-2 text-center" name="entrar-btn">Juntar-se ao Clube</button>
                                </form>
                            {% else %}
                                <p class="btn btn-success text-white text-center">Você é membro deste clube</p>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <p class="btn btn-warning text-white text-center">Você é o Moderador</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
