<div class="modal fade" id="sairDoClubeModal-{{ clube.id }}" tabindex="-1" aria-labelledby="sairDoClubeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sairDoClubeModalLabel">Sair do Clube</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Tem certeza de que deseja sair do clube<br><strong>{{ clube.titulo }}</strong>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form method="post" action="{% url 'sair-do-clube' clube.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Sair do Clube</button>
                </form>
            </div>
        </div>
    </div>
</div>
