<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'pagina_principal' %}" class="nav-link px-2 text-white">Home</a></li>
        <li><a href="{% url 'about' %}" class="nav-link px-2 text-white">About</a></li>
        {% if user.is_authenticated %}
        {% csrf_token %}
        <a class="nav-link px-2 text-white" href=" {% url 'clubs' %}">Clubs</a>
        <a class="nav-link px-2 text-white" href=" {% url 'myclubes' %}">My Clubs</a>
        {% endif %}
      </ul>

      <div class="text-end">
        {% if user.is_authenticated %}
        <form method="post" action="{% url 'logout' %}" style="display:inline;">
          {% csrf_token %}
          <button class="btn btn-light" type="submit">Logout</button>
        </form>
        {% else %}
        <a class="btn btn-outline-light me-2" href=" {% url 'register' %}">Register</a>
        <a class="btn btn-outline-light me-2" href="{% url 'login' %}">Login</a>
        {% endif %}
      </div>
    </div>
  </div>
</header>