<style>
  
</style>

<header class="p-3 text-bg-light shadow-lg">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav nav-underline col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li class="nav-item"><a href="{% url 'pagina_principal' %}" class="nav-link px-2 text-black">Home</a></li>
        <li class="nav-item"><a href="{% url 'about' %}" class="nav-link px-2 text-black">About</a></li>
        {% if user.is_authenticated %}
        {% csrf_token %}
        <a class="nav-item nav-link px-2 text-black" href=" {% url 'clubs' %}">Clubs</a>
        <a class="nav-item nav-link px-2 text-black" href=" {% url 'myclubes' %}">My Clubs</a>
        <a class="nav-item nav-link px-2 text-black" href="{% url 'addClube' %}">Create Clubs</a>

        {% endif %}
      </ul>

      <div class="text-end">
        {% if user.is_authenticated %}
        <form method="post" action="{% url 'logout' %}" style="display:inline;">
          {% csrf_token %}
          <button class="btn btn-light" type="submit">Logout</button>
        </form>
        <img src="https://static.vecteezy.com/system/resources/previews/019/879/186/original/user-icon-on-transparent-background-free-png.png" alt="foto de usuário" width="60px">
        {% else %}
        <a class="btn btn-light" href=" {% url 'register' %}">Register</a>
        <a class="btn btn-light" href="{% url 'login' %}">Login</a>
        {% endif %}
      </div>
    </div>
  </div>
</header>