<style>
  *{
    font-family: 'DM Sans', 'sans-serif';
  }

  .newclub-btn{
    padding-top: .3rem;
  }

  .btn-profile-div{
    width: fit-content;
    padding: 0rem;
  }

  .logout-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    margin-left: 0.6rem;
  }

</style>

<header class="p-3 text-bg-light shadow-lg">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav nav-underline col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li class="nav-item"><a href="{% url 'pagina_principal' %}" class="nav-link px-2 text-black">Home</a></li>
        <li class="nav-item"><a href="{% url 'about' %}" class="nav-link px-2 text-black">About</a></li>
        {% if user.is_authenticated %}
        {% csrf_token %}
        <a class="nav-item nav-link px-2 text-black" href=" {% url 'clubs' %}">Clubs</a>
        {% endif %}
      </ul>

      <div class="text-end">
        {% if user.is_authenticated %}
        <a class="btn bnt-sm btn-primary newclub-btn" href="{% url 'addClube' %}" style="font-weight: bold;">New Club</a>
        <div class="btn-group btn-n-pfp">
          <div class="vr"></div>
          <button type="button" class="btn dropdown-toggle btn-profile-div" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://static.vecteezy.com/system/resources/previews/019/879/186/original/user-icon-on-transparent-background-free-png.png" alt="foto de usuário" width="60px">
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item text-black" href=" {% url 'myclubes' %}">My Clubs</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><hr class="dropdown-divider"></li>
            <form method="post" action="{% url 'logout' %}" style="display:inline;" class="logout-btn-div">
            {% csrf_token %}
            <button class="btn btn-danger logout-btn" type="submit">Logout</button>
            </form>
          </ul>
        </div>
        {% else %}
        <a class="btn btn-light" href=" {% url 'register' %}">Register</a>
        <a class="btn btn-light" href="{% url 'login' %}">Login</a>
        {% endif %}
      </div>
    </div>
  </div>
</header>

