{% extends 'base.html' %}

{% block title  %}
    Atualizando
{% endblock title %}

{% block content  %}
    {% if user.is_authenticated %}
        <h1 class="text-center">Atualizando Clube do Livro</h1>
        <br><br>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="form-group">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-secondary">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
    Você nao tem permissao de editar este Clube   
    {% endif %} 
{% endblock %}