{% extends 'base.html' %}

{% block title %}
Atualizando
{% endblock title %}

{% block content %}

<style>
    * {
        font-family: 'DM Sans', 'sans-serif';
    }

    .holder {
        margin-top: 2rem;
    }

    label {
        font-weight: bold;
    }
</style>

{% if user.is_authenticated %}
{% if user.id == clube.moderador.id %}
<div class="container">
    <div class="holder">
        <h1 class="text-center">Edit your club details</h1>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="form-group">
                    <form method="post">
                        {% csrf_token %}
                       
                        <label for="titulo">Título:</label>
                        <input type="text" id="titulo" name="titulo" value="{{ clube.titulo }}" class="form-control" required>

                        <label for="modalidade">Modalidade:</label>
                        <select id="modalidade" name="modalidade" class="form-control">
                            <option value="">Selecione uma modalidade</option>
                            {% for modalidade in modalidades %}
                                <option value="{{ modalidade.id }}" {% if clube.modalidade.id == modalidade.id %}selected{% endif %}>{{ modalidade.nome }}</option>
                            {% endfor %}
                        </select>

                        <label for="categoria">Categoria:</label>
                        <select id="categoria" name="categoria" class="form-control">
                            <option value="">Selecione uma categoria</option>
                            {% for categoria in categorias %}
                                <option value="{{ categoria.id }}" {% if clube.categoria.id == categoria.id %}selected{% endif %}>{{ categoria.nome }}</option>
                            {% endfor %}
                        </select>
                        

                        <label for="descricao">Descrição:</label>
                        <textarea id="descricao" name="descricao" class="form-control" required>{{ clube.descricao }}</textarea>

                        <label for="sobre">Sobre:</label>
                        <textarea id="sobre" name="sobre" class="form-control">{{ clube.sobre }}</textarea>

                        

                        

                        <label for="privado">Privado:</label>
                        <input type="checkbox" id="privado" name="privado" {% if clube.privado %}checked{% endif %}>

                        <button class="btn btn-secondary">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endif %}
{% endblock %}
